$offWhite: #ffffec;
$backgorund-color: #000000e6;
$stand-out: #0ac7e0;

$hover: #ffffff26;

:export {
    offWhite: $offWhite;
    backgorund-color: $backgorund-color;
    stand-out: $stand-out;
    hover: $hover;
}